.input > input {
    border: 1px solid #bbb;
}

.input {
    display: flex;
}

.input:global(.hasBack){
    background-color: rgba(255,255,255,0.3);
    border-radius: 100px;
    margin: 20px 0;
    padding: 4px 10px;
}

:global(.hasBack) > input{
    border: none;
    outline: none;
    background: none;
    color: white;
}

.suffix {
    padding: 4px 0;
    vertical-align: middle;
}

::-webkit-input-placeholder {
    color: white;
}
