.input:global(.hasBack){
    background-color: rgba(255,255,255,0.3);
    border-radius: 100px;
    margin: 20px 0;
    padding: 10px 20px;
}

:global(.hasBack) > input{
    border: none;
    outline: none;
    background: none;
    color: white;
}

img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin: 0 10px;
}

::-webkit-input-placeholder {
    color: white;
}
