.drawer {
  height: 100%;
  background: #123597;
  padding: 0 10px;
  color: white;
}

.title {
  margin: 20px 0;
  text-align: center;
}

.club {
  font-size: 20px;
}

.top {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.search {
  border-radius: 30px !important;
}

.tree {
  overflow: scroll;
}

.menu {
  position: absolute;
  z-index: 1;
}
