html {
    height: 100%;
    overflow: hidden;
}

body,#app{
    height: 100%;
    margin: 0;
}

#app {
    position: relative;
}

svg {
    vertical-align: middle;
    fill:white;
}

#app > .content {
    height: 100%;
}

