html {
    height: 100%;
    overflow: hidden;
}

body,:global(#app){
    height: 100%;
    margin: 0;
}

:global(#app) {
    position: relative;
}

:global(img) {
    width: 24px;
    height: 24px;
}

:global(.ant-spin-spinning) {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

:global(.ant-spin-lg .ant-spin-dot ){
    font-size: 64px;
}

:global(.ant-spin-lg .ant-spin-dot i){
    width: 28px;
    height: 28px;
}
