html {
    height: 100%;
    overflow: hidden;
}

body,:global(#app){
    height: 100%;
    margin: 0;
    background: #3A62D7;
}

:global(#app) {
    position: relative;
}

svg {
    vertical-align: middle;
    fill:white;
}

:global(img) {
    width: 24px;
    height: 24px;
}
