html {
    height: 100%;
    overflow: hidden;
}

body,#app{
    height: 100%;
    margin: 0;
    /*background-image: url('https://www.yunqishi.net/uploads/allimg/c190618/1560T0392a450-3c29.jpg')*/
}

svg {
    vertical-align: middle;
    fill:white;
}

.content {
    height: 100%;
}

