body {
    background-image: url('https://www.yunqishi.net/uploads/allimg/c190618/1560T0392a450-3c29.jpg')
}

.container {
    position: absolute;
    width: 420px;
    height: 300px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.button {
    background-color: #3A62D7;
    text-align: center;
    padding: 10px;
    border-radius: 1000px;
    color: white;
    cursor: pointer;
}

.loading {
    color: white;
}

